html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: "Encode Sans";
  line-height: 1.5;
}

.logo {
  width: 300px;
  height: 200px;
  padding-left: 10px;
  margin: 0 auto;
}

nav {
  padding: 0.5em;
  margin-right: 1em;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BEB793;
  margin: 0 auto;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;

}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

.main-images {
  margin: 5rem auto;
  max-width: 800px;
  max-height: 500px;
  border-radius: 6px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "item1 item3"
    "item2 item3";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.cart-details-grid {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #224229;
}

h2 {
  color: #224229;
}

.money-tree {
  padding-top: 5em;
}

.button {
  align-self: flex-end;
  background-color: #224229;
  color: #ffff;
  padding: 0.25rem 2rem;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.small-images {
  display: flex;
  justify-content: space-around;
}

.small {
  border-style: solid;
  border-color: #224229;
}

.background-color-info {
  background-color: #BEB793;
  margin: 0;
}

.description {
  padding-top: 1em;
}

.quotes {
  display: grid;
  grid-template-columns: 0.5fr;
  margin: 40px;
}

cite {
  padding: 1em;
}

footer {
  text-align: center;
  color: #224229;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 38em) {

}



/* Add media query for desktop */
@media only screen and (min-width: 60em) { 
